<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxx">

    <application
        android:name="com.xxx.App">

        <activity android:label="@string/title_activity_image_viewer"
                  android:name="com.xxx.ui.ImageViewerActivity" android:configChanges="orientation|screenSize"
                  >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:pathPrefix="/" />
                <data android:host="pic.twitter.com" />
            </intent-filter>
        </activity>

    </application>
</manifest>